<div class="content">
    <header class="topbar">
        <div class="logo">
            <img 
                src="./assets/icons/dark-logo-join.png" 
                alt="Logo"
                (click)="sharedService.reloadPage()"
                >
        </div>

        <div class="signup-desktop">
            <span>Not a Join user?</span>
            <a routerLink="/sign-up" class="signup-btn">Sign up</a>
        </div>
    </header>

    <main class="main-content">

        <form>
            <div class="login-card">
                <div class="title-container">
                    <h1>Log in</h1>
                    <div class="brake-line"></div>
                </div>

                <div class="input-group">
                    <input type="email" placeholder="Email" [(ngModel)]="email" name="email" autocomplete="email">
                    <span class="icon">
                        <img src="./assets/icons/mail.png" alt="">
                    </span>
                </div>

                <div class="input-group">
                    <input [type]="showPassword ? 'text' : 'password'" placeholder="Password" [(ngModel)]="password"
                        name="password" autocomplete="current-password">
                    <span class="icon" (click)="togglePasswordVisibility()" style="cursor:pointer">
                        <img [src]="showPassword ? './assets/icons/unlock.png' : './assets/icons/lock.png'"
                            alt="toggle password visibility">
                    </span>
                </div>

                @if (errorMessage) {
                <div class="error">{{ errorMessage }}</div>
                }

                <div class="actions">
                    <button class="login-btn" (click)="onLogin()">Log in</button>
                    <button (click)="guestLogIn()" class="guest-btn">Guest Log in</button>
                </div>
            </div>
        </form>

    </main>


    <div class="signup-mobile">
        <span>Not a Join user?</span>
        <a routerLink="/sign-up" class="signup-mobile-btn">Sign up</a>
    </div>

    <footer class="footer-content">
        <a [routerLink]="'/privacy-policy-guest'">Privacy Policy</a>
        <a [routerLink]="'/legal-notice-guest'">Legal notice</a>
    </footer>
</div>