<section>
    <div class="side-bar">
        <img 
            src="assets/images/join-logo-light.png"
            alt="logo"
            (click)="sharedService.reloadPage()">
        <div id="menu">
            <div class="menu-links">
                <div [routerLink]="['/summary']" class="header-links">
                    <a>
                        <img src="assets/icons/summary-icon.png" alt="summary-icon" class="">
                        <span>Summary</span>
                    </a>
                </div>
                <div [routerLink]="['/add-task']" class="header-links">
                    <a>
                        <img src="assets/icons/add-task-icon.png" alt="">
                        <span>Add Task</span>
                    </a>
                </div>
                <div [routerLink]="['/board']" class="header-links">
                    <a>
                        <img src="assets/icons/board-icon.png" alt="">
                        <span>Board</span>
                    </a>
                </div>
                <div [routerLink]="['/contacts']" class="header-links">
                    <a>
                        <img src="assets/icons/contacts-icon.png" alt="">
                        <span>Contacts</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="policies">
        <a [routerLink]="['/privacy-policy']">
            <span>Privacy Policy</span>
        </a>
        <a [routerLink]="'/legal-notice'">
            <span>Legal Notice</span>
        </a>
    </div>
</section>

<div class="side-bar-mobile">
    <a [routerLink]="['/summary']">
        <img src="assets/icons/summary-icon.png" alt="">
        <span>Summary</span>
    </a>
    <a [routerLink]="['/add-task']">
        <img src="assets/icons/add-task-icon.png" alt="">
        <span>Add Task</span>
    </a>
    <a [routerLink]="['/board']">
        <img src="assets/icons/board-icon.png" alt="">
        <span>Board</span>
    </a>
    <a [routerLink]="['/contacts']">
        <img src="assets/icons/contacts-icon.png" alt="">
        <span>Contacts</span>
    </a>
</div>